"[$TO_NAME$]" submitted a donation of [$SYMBOL$][$AMOUNT$] on [$SYS_DATE$]. Details are below:<br /><br />

********************************************************************************<br />
Name : [$TO_NAME$]<br />
Address : [$ADDRESS$]<br />
Email: [$TO_ADDRESS$]<br />
Phone Number: [$PHONE_NUMBER$]<br />
<br />
[$FUNDS$]<br />
********************************************************************************<br /><br />
	
Regards,<br />
Congregation Kol Emeth<br /><br />

<em>This is a system-generated email. Please do not reply.</em></p>
