Dear [$TO_NAME$],<br />	<br />


Thank you for your donation of [$SYS_DATE$]. Your credit card has been charged [$SYMBOL$][$AMOUNT$]. Details regarding your donation are below:<br /><br />

[$FUNDS$]<br /><br />

Regards,<br />
Congregation Kol Emeth<br /><br />

<em>This is a system-generated email. Please do not reply.</em>
	
