Dear [$TO_NAME$],<br /><br />

Thank you for the message you sent to us at [$PORTAL_URL$]. We will respond to you very soon.<br />	<br />

Regards,<br />
Congregation Kol Emeth<br /><br />

<em>This is a system-generated email. Please do not reply.</em>
